[submodule "dot_config/tmux/plugins/catppuccin/tmux"]
	path = dot_config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "dot_config/zsh_plugins/zsh-autosuggestions"]
	path = dot_config/zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dot_config/zsh_plugins/zsh-syntax-highlighting"]
	path = dot_config/zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
